input:focus , textarea:focus{
    border-color: #4facfe;
    box-shadow: 0 0 10px rgba(79 , 172, 254, 0.4);
}

@media screen and (min-height: 480px) and (max-height: 600px)  and (min-width: 320px) and (max-width: 440px) {
    .continer{
        width: 90%;
    }
    footer a {
        font-size: 15px;
    }
    .page{
        overflow: auto;
    }
}

@media screen and (min-height: 600px) {
    #createuserpage{
        height: 100vh;
    }
}

@media screen and (max-width: 520px){
    h1{
        font-size: 18px;
        font-weight: bold;
    }
}